<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kheileang.downfbvid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DownFBVid">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1589742015897303~1101533689"/>
        <activity android:name="com.kheileang.downfbvid.Activity.VideoPlayerActivity"
            android:launchMode="singleTask"
            android:parentActivityName="com.kheileang.downfbvid.Activity.DownloadVideoActivity"/>
        <activity
            android:name="com.kheileang.downfbvid.Activity.SettingActivity"
            android:label="Setting"
            android:launchMode="singleTask"
            android:parentActivityName="com.kheileang.downfbvid.MainActivity" />
        <activity
            android:name="com.kheileang.downfbvid.Activity.DownloadVideoActivity"
            android:label="Downloaded Video"
            android:launchMode="singleTask"
            android:parentActivityName="com.kheileang.downfbvid.MainActivity" />
        <activity
            android:name="com.kheileang.downfbvid.Activity.SplashActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kheileang.downfbvid.MainActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="com.kheileang.downfbvid.Activity.NoInternetActivity"
            android:launchMode="singleTask"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kheileang.downfbvid"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_share_path" />
        </provider>
    </application>

</manifest>